<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mymemorygame01">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyMemoryGame01">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainMenu"
            android:exported="false">
        </activity>
        <activity
            android:name=".Game01"
            android:exported="false">
        </activity>
        <activity
            android:name=".Game01_1"
            android:exported="false">
        </activity>
        <activity
            android:name=".Game01_2"
            android:exported="false">
        </activity>
        <activity
            android:name=".Game01_3"
            android:exported="false">
        </activity>
        <activity
            android:name=".Game02"
            android:exported="false">
        </activity>
        <activity
            android:name=".Game02_1"
            android:exported="false">
        </activity>
        <activity
            android:name=".Game02_2"
            android:exported="false">
        </activity>
        <activity
            android:name=".Game03"
            android:exported="false">
        </activity>
        <activity
            android:name=".Game03_1"
            android:exported="false">
        </activity>
        <activity
            android:name=".Game03_2"
            android:exported="false">
        </activity>
        <activity
            android:name=".Game03_3"
            android:exported="false">
        </activity>
        <activity
            android:name=".Game03_4"
            android:exported="false">
        </activity>
        <activity
            android:name=".Game04"
            android:exported="false">
        </activity>
        <activity
            android:name=".Game04_1"
            android:exported="false">
        </activity>
        <activity
            android:name=".Game04_2"
            android:exported="false">
        </activity>
        <activity
            android:name=".Game04_3"
            android:exported="false">
        </activity>
    </application>

</manifest>
